
<!DOCTYPE html>
<html>
<head>
  <title>RailsSprocketsWebpackDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag *webpack_asset_paths('application') %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>Hello World</h1>

  <p id="sprockets">Sprockets not loaded</p>
  <p id="webpack">Webpack not loaded</p>

</body>
</html>


